h1 {
	font-family: "Amatic SC";
	font-size: 100px;
	font-weight: 500;
	line-height: 30px;
  top: 20px;
  text-align: center;
  border: 3px solid black;
  padding: 35px;
  margin: 20px;
  background-color: orange;
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	color: black;
}

#backhome h1:hover {
	color: white;
}
body {
  font-weight: bold;
  font-family: "Amatic SC";
  font-size: 40px;
  background-size: 500px 500px;
  background-image: url("CorkBoardBkgd.jpg");
}

.flex-container {
    align-content: center;
    display: -webkit-flex;
    display: flex;
    width: 1000px;
    height: 460px;
    padding: 10px;
    border: 3px dotted black;
    align-self: center;
}

.flex-item {
    text-align: center;
    background-color: ;
    width: 500px;
    height: 400px;
}

#tut1 {
	height: 600px;
	width: 1000px;
	border: 3px solid black;
}

#tut2 {
	height: 300px;
	width: 300px;
}

#tut3 {
	height: 400px;
	width: 600px;
	border: 3px solid black;
}

#tut4 {
	height: 500px;
	width: 100px;
	border: 3px solid black;
}

#tut5 {
	height: 200px;
	width: 600px;
}
