html {
position: static;
}

body {
  background-image: url("cork.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}

textarea {
  width: 350px;
  height: 200px;
  resize: none;
}

h3 {
	font-family: "Amatic SC";
}

#colortextarea{
  display: none;
}

#lightbox{
    display:none;
    position:fixed;
    z-index:1000;
    width:100%;
    height:100%;
}
#lightbox_area{
    position:relative;
    margin:50px auto;
    background:#fff;
    width:400px;
    height:300px;
    padding:23px;
    background:#ffc;
    top: 100px;
    left: -50px;
}
#open{
    cursor:pointer;
    text-align: center;
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position:relative;
    top:5%;
    left:25%;
    font-size: 50px;
    margin-top: 0px;
    bottom: 0px;
    padding-bottom: 30px;
    height: 187px;
    width: 175px;
}

#wrapper{
  padding:30px;
  color: transparent;
  text-shadow:0px 0px 0px #000;
  position: absolute;
  margin: 50px;

}
.choice {
  height: 10px;
  width: 10px;
  margin: 10px;
}
.close{
  cursor:pointer;
  border:1px solid #444;
  width:25px;
  height:25px;
  line-height:24px;
  border-radius:20px;
  text-align:center;
  position:relative;
  background:#e11;
  color:#fff;
  font-family: "Amatic SC";
  top: -300px;
  left: 375px;
}
.combine{
  display: flex;
  position: relative;
  flex-direction: row-reverse;
}
.text {
  font-family: "Amatic SC";
  width:160px;
  height:192px;
  background: #ffc;
  margin: 4px;
  position: absolute;
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.containers {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 5px;
}

  h2 {
  	font-family: "Amatic SC";
  	font-size: 40px;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: bold;
  	line-height: 26.4px;
    margin: 3em;
  }
  h1{
    	font-family: "Amatic SC";
    	font-size: 100px;
    	font-weight: 500;
    	line-height: 30px;
      top: 20px;
      text-align: center;
      border: 3px solid black;
      padding: 35px;
      margin: 20px;
      background-color: orange;
      -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
      color: black;
    }
    p{
      font-family: "Amatic SC"
    }
.flex-container {
      display: -webkit-flex;
      display: flex;
      width: 400px;
      height: 250px;
      margin-top: 60px;
      margin-left: 450px;
      position: absolute;
}

  #home h1:hover {
    color: white;
  }
  /*Share Link Buttons*/
  #mail {
    height: 100px;
    width: 100px;
    left: 20px;
    top: 240px;
    position: absolute;
    opacity: 0.7;
  }
    #mail:hover {
      opacity: 1.0;
    }
  #twitter {
    height: 80px;
    width: 80px;
    left: 30px;
    top: 340px;
    position: absolute;
    opacity: 0.7;
  }
    #twitter:hover {
      opacity: 1.0;
    }
  #fb {
    height: 20px;
    width: 20px;
    left: 40px;
    top: 440px;
    position: absolute;
    opacity: 0.7;
  }
    #fb:hover {
      opacity: 1.0;
    }
  #gplus {
    height: 20px;
    width: 20px;
    left: 38px;
    top: 530px;
    position: absolute;
    opacity: 0.7;
  }
    #gplus:hover {
      opacity: 1.0;
    }
