<!doctype html>
<html>
  <head>
    <link rel="icon" href="/resources/icon.png">
    <title>About Cheerbytes</title>
  </head>
    <link rel="stylesheet" type="text/css" href="../resources/about.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC"/>
  <body>
    <a id="backhome" href="main.html" style="text-decoration: none;"><h1>About Cheerbytes</h1></a>
      <center>
      <div class="flex-container">
        <div class="flex-item"><img src="http://www.pere-image.die-seite.eu/galerie/notizzettel_h_weiss.png" style="margin-top: 70px" height="300" width="400"/></div>
        <div class="flex-item">
          <p>In an age where information is universally acessible,
             what if happiness is too? No matter who you are or where
             you're at, share your happiness with others around you
             using Cheerbytes!<br>
             Take a post it when you're at rock bottom and leave one
             when you're on cloud nine!</p>
        </div>
      </center>
    <h2>TUTORIAL</h2>
    <img id="tut1" src="resources/fullscreen.png"/><p>1. Welcome to our view and post page!</p><br>
    <img id="tut2" src="resources/post a byte.png"/><p>2. Click on this sticky note to open comment box!</p>
    <img id="tut3" src="resources/commentb.png"/><p>3. Write in your happiest memory and select a color (default color is yellow!)</p><br>
    <img id="tut4" src="resources/socialbutton.png"/><p>4. Copy and paste your favorite note and share it with others!</p><br>
    <a href="main.html"><img id="tut5" src="resources/orangetag.png"/></a><p>5. Want to return home? Click the orange header!</p>
  </body>
</html>
