<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <link rel="stylesheet" type="text/css" href="../resources/about.css"/>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC"/>
  <body background="CorkBoardBkgd.jpg">
    <h1>About Cheerbytes</h1>
    <div class="flex-container">
      <div class="row">
        <div class="flex-item"><img src="http://www.pere-image.die-seite.eu/galerie/notizzettel_h_weiss.png" height="300" width="400"/></div>
        <!--<div class="flex-item">-->
          <p>In a age where information is near universally acessible,
             what if happiness is too? No matter who you are or where
             you're at, share your happiness with others around you
             using Cheerbytes!<br>
             Take a post it when you're at rock bottom and leave one
             when you're on cloud nine!</p>
        <!--</div>-->
      </div>
    </div>
  </body>
</html>
