<!DOCTYPE html>
<html>
  <head>
    <title>Cheerbytes</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="resources/Tommy.js"></script>
  </head>
  <body>
    <ul>
      <li> <a href="#">
        <h2><center>Welcome<center></h2></a></li>
      <li><a href="#">
        <h2><center>to<center></h2></a></li>
      <li><a href="#">
        <h2><center>Cheerbytes<center></h2></a></li>
    </ul>
  <div id="links">
    <a href = "view.html">Cheerbytes!</a>
  </div>
  </body>
</html>
