<!DOCTYPE html>
<html>
  <head>
    <title>CheerBytes</title>
    <link type="text/css" rel="stylesheet" href="resources/view.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="resources/view.js"></script>
    <style>
      { display: block; }
    </style>
  </head>
  <body>
<!-- The lightbox that's hidden -->
    <div id="lightbox">
      <div id="lightbox_area">
        <h2>Byte:</h2>
        <p>
        <!--THIS IS FOR THE COMMENT BOX! DON'T CHANGE PLEASE -->
            <form method = "post" action = "/create_byte">
              <textarea name = "byte"></textarea>
              <input type = "submit" value = "Stick!" class = "button"></input>
            </form></p>
        <div class="close"><b>X</b></div>
      </div>
    </div>
<!-- To go back to homepage! -->
    <div id = "wrapper">
    <div> <section class = "return">
    <a href="main.html" title="Homepage"> Back to Homepage </a> </div>
<!-- Post comments -->
    <h2>Cheerbytes!</h2>
    <div class = "containers">
      {% for byt in byte %}
        <p><div class = "text">{{byt.byte}}</div></p>
      {% endfor %}
    </div>
<!-- CLick Here -->
    <div>
      <p id="open">Post a Byte!</p>
    </div>
  </div>
  </body>
</html>
