<!DOCTYPE html>
<html>
  <head>
    <title>CheerBytes</title>
    <link type="text/css" rel="stylesheet" href="resources/view.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Amatic+SC" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="resources/view.js"></script>
    <style>
      { display: block; }
    </style>
  </head>
  <body>
<!-- The lightbox that's hidden -->
    <div id="lightbox">
      <div id="lightbox_area">
        <h3>Byte:</h3>
        <p>
        <!--THIS IS FOR THE COMMENT BOX! DON'T CHANGE PLEASE -->
            <form method = "post" action = "/create_byte">
              <textarea name = "byte"></textarea>
              <input type = "submit" value = "Stick!"></input>
            </form></p>
        <div id="close"><b>X</b></div>
      </div>
    </div>
    <!-- Post comments -->
        <h1>Cheerbytes!</h1>
          {% for byt in byte %}
            {{byt.byte}}
          {% endfor %}
<!-- CLick Here -->
    <div class="container3">
      <p id="open">Post a Byte!</p>
    </div>
<!-- To go back to homepage! -->
      <div class = "return" id="navb">
        <a href="main.html" id="home" title="Homepage"><h2>Back to Homepage</h2></a>
      </div>

  </body>
</html>
